header.header-site.cf
	.header-site-top.cf
		.header-header.center.above-all.cf
			.logo-block
				a(href='#')
					img(src="img/logo.png", alt="Название фирмы").logo-img
					span.logo-title
						| Название
						br
						| фирмы
					
				.descr-site Создание сайтов
			.order-call
				.n-of-tel
					span 8 (499)
					| 767-67-67
				a.order-button заказать звонок
