.header-site
	background: #fff url(../img/bg-header.jpg) 50% 0 no-repeat
	min-height 660px

.header-site-top
	min-height 100px
	background rgba(0, 0, 0, .35)
	pie()
	
	
.logo-block
	lost-column 2/8
	lost-offset 3/8
	

.logo-img
	margin-left 7px

.logo-title
	display: block
	size 68px 31px
	text-shadow 0.7px 0.7px 3px rgba(0, 0, 0, 0.25)
	color rgb(225, 225, 225)
	font-family "Open Sans"
	font-size 14px
	font-weight 600 
	
.descr-site {}

.order-call
	lost-column 3/8
	lost-align right

.n-of-tel
	text-shadow 0.7px 0.7px 3px rgba(0, 0, 0, 0.25)
	font-family "Open Sans"
	font-size 36px
	font-weight 700
	color rgb(252, 208, 5)

.n-of-tel span
	color: #fff
	

.order-button
	background-color rgb(243, 201, 10)
	border-radius 10px
	box-shadow 0.7px 0.7px 3px rgba(0, 0, 0, 0.25)
	font-family "Open Sans"
	font-weight 400
	font-size 14px
	color: #fff
	text-transform uppercase
	text-align: center
	padding 6px 10px


	
.try-easy-sprites-01
	background: #FFF url(../img/icon-24.png#icons) 0 0 no-repeat

.try-easy-sprites-01
	background-size image-width('icon-24.png') image-height('icon-24.png')

.try-easy-sprites-02
	background: #FFF url(../img/icon-manager@3x.png#icons) 0 0 no-repeat
		